# Miscellaneous ------------------------------------------------------------#

*.bak
*.bat
*.ods
.svn/
Libs/
LibStub/
CallbackHandler-1.0/

# Windows garbage ----------------------------------------------------------#

Desktop.ini
ehthumbs.db
Thumbs.db